.Footer__container {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0 15em;
  width: 100vw;
  height: 26vh;
  background: grey;
}

.Footer__follow-container {
  position: relative;
  top: 10px;
  padding: 10px;
  /* background: red; */
  width: 300px;
}

.Footer__follow-headline {

}

.Footer__followBtns-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}