body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  /* min-height: 100%; */

  background-image: url('./assets/hiroshima-bg.jpg');
  background-attachment: fixed;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  position: relative;
  padding: 2em 4em 0 15em;
  left: 0;
  width: 100vw;
  min-height: 76vh; 
}

:root {
  --base-grey: rgb(181, 174, 174);
  --base-grey-fade: rgba(40, 36, 32, 0.664);
  --base-solid-bg: rgb(85, 150, 140);
}